/* Apply to elements which are created programmatically rather than loaded from FXML as these elements cannot by styled as easily. */
.root {
    -fx-font-family: "IBM Plex Mono Light"; 
}

.cancel {
    -fx-background-color: #FF474C;
}

.save {
    -fx-background-color: lightgreen;
}

.statTitle {
    -fx-font-size: 20px;
    -fx-alignment: center;
}


.statText {
    -fx-font-size: 15px;
    -fx-alignment: center;
    -fx-padding: 10px;
}

TextField {
    -fx-margin: 10px;
}